<h1>Here is the page that will list all users - from here you should be able to delete users as an admin</h1>


<h2> Users Index </h2>

<%= @users.each do |user| %>
	<tr>
		<td>
		Email: <%= user.email %>
		</td>
	</tr>
	<br><br>
	<tr>
		<td>
		Password Digest: <%= user.password_digest %>
		</td>
	</tr>
	<br><br>
	<td>
		<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
	</td>
<% end %>




