<body class="newuserlogin">
	<div style="
		width:50%;
	    background-color: rgba(0,0,0,0.2);
	    display: block;
	    margin: 0 auto;
	">
	
	<%= render '/layouts/userform' %>
	
	<a href="/sessions/new" class="text-center" style="display: block;"> Already 	Have a User Profile? </a>
	
	</div>
</body>


