
<%#= @posts.each do %>

<p># print in here each and every post that has archived status as true</p>

<% @posts.each do |post| %>
	<% if post['archived'] %>
		<%= post %>
	<% end %>
<%end%>
<a href="/posts">Back to the Collective</a>

# need to ensure that route is CORRECTLY handled by an action - is routing to show currently


