<% @posts.each do |post| %>
	<% if post['archived'] %>
		<img src="<%= post.image %>">
		<%= post.name %>
		<br>
		<%= link_to "Unarchive Project", unarchive_path(post), method: :post%>
		<br>
		<%= link_to "Contribute", "/charges/new" %>
	<% end %>
<%end%>
<br>
<a href="/posts">Back to the Collective</a>



